*{
  margin: 0;
  padding: 0;
}
body{

  font-family: 'Roboto' , sans-serif;

}

.carta {
  display: block;
  width: 100%;
  height: auto;

}
.containerGrid{
  display: grid;  
grid-template-columns: 1fr 1fr;
grid-template-rows: minmax(300px,auto);
gap: 2%
}

.cartasGrid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:5%;
}

@media screen and (max-width : 768px){
  .carta{
    max-width: 70%;
    padding-left: 20%;
  }

  .containerGrid{
    display: grid;  
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: minmax(300px,auto);
    gap: 6%;
  }

  .cartasGrid{
    display: grid;  
    grid-template-columns: repeat(2,1fr) ;
    gap: 100px;
    min-height: auto;
}

}

